{
  "plugins": [
    [
      "i18next-extract",
      {
        "keySeparator": "::",
        "nsSeparator": ":::",
        "locales": ["en", "fr", "et", "es", "de"],
        "outputPath": "src/locales/{{locale}}/{{ns}}.json",
        "keyAsDefaultValue": true,
        "removeUnusedKeys": true
      }
    ]
  ],
  "presets": [
    [
      "babel-preset-gatsby"
    ]
  ]
}
