.percentiles .quartile-1 {
  background: #dea8a8;
}
.percentiles .quartile-2 {
  background: #dac5a0;
}
.percentiles .quartile-3 {
  background: #c6d799;
}
.percentiles .quartile-4 {
  background: #97d492;
}
